## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [47]:
def sort(lst):
    return sorted(lst, key = lambda x: x[1])

In [48]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original List : ",lst)
print("Sorted List : ",sort(lst))

Original List :  [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted List :  [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

In [52]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original List : ",lst)
print("Sorted List : ",sort_lastletter(lst))

Original List :  [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted List :  [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [51]:
def sort_lastletter(lst):
    return sorted(lst, key = lambda x: x[-1])

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

In [40]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
lst2=list(range(1,9))
lst2

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
print(list(map(lambda x, y:(x,y), lst1, lst2)))

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

[3, 2, 3, 3, 3, 3, 3]

In [85]:

def occurance(lst,letter):
    res=[]
    for i in lst:
        res.append(i.count(letter)) 
    return res

In [86]:
lst=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
lst = map(lambda x:x.lower(),lst)
letter='a'

print(occurance(lst,letter))

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [89]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vowels = ['a', 'e', 'i', 'o', 'u']
res=[]
for i in str1:
        if(i.lower() in vowels):
            res.append(i)
print(res)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [97]:
def ocurance(str1):
    vowels = ['a', 'e', 'i', 'o', 'u']
    res=[]
    for i in str1:
        if(i.lower() in vowels):
            res.append(i)
    return res

In [102]:
str1="Inceptz is one of the best institutes to read data science in chennai"
res=filter(ocurance,str1)
result=[]
for i in res:
    result.append(i)
print(result)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

[64, 81, 100, 144, 196]

In [115]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
lst2=list(map(lambda x: (x**2),lst1))

In [119]:
lst3=[]
[lst3.append(i) for i in lst2 if i>60]
lst3

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

'Inceptez provides the best inclass trainings and is the best'

In [124]:
import functools
from functools import reduce

In [127]:
lst=['Inceptez','provides','the','best','inclass','trainings' ,'and' ,'is', 'the', 'best']
(','.join(lst)).replace(',', ' ')

'Inceptez provides the best inclass trainings and is the best'

In [128]:
lst=['Inceptez','provides','the','best','inclass','trainings' ,'and' ,'is', 'the', 'best']

reduce(lambda x,y: x+" "+y, lst)

'Inceptez provides the best inclass trainings and is the best'